/beacon-data.backup
/beacon-data/chain-db
/node_modules
/.vscode
/eth2-testnet-genesis
/venv
lodestar-v1.31.0-linux-amd64.tar.gz
/metamask
/consensus/validator_keys
/consensus/validator_keys-backup
/consensus/jwt.hex
/consensus/mnemonics.yaml
/execution/geth
/execution/keystore
/execution/jwt.hex
/lodestar
/lodestar-tmp
/lodestar-v1.31.0-linux-amd64.tar.gz
/staking-deposit-cli
/tranches
/--outputGenesisStateFile
/--outputGenesisTimeFile
/--paramsFile
/--validatorsDir
/genesis.ssz
